@model IEnumerable<OrderSys.Models.Order>

@{
    ViewBag.Title = "AllOrders";
}

<h2>AllOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount) (RM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdererId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Action
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdererId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status == "Pending")
                {
                    <button type="button" class="btn btn-primary btn-md" onclick="location.href='deliver?orderid=@item.Id'">Deliver</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary btn-md" onclick="location.href='pending?orderid=@item.Id'">Pending</button>
                }
                <button type="button" class="btn btn-primary btn-md" onclick="location.href='delete?orderid=@item.Id'">Delete</button>
            </td>
        </tr>
    }

</table>
