@model IEnumerable<OrderSys.Models.Order>

@{
    ViewBag.Title = "AllOrders";
}

<h2>AllOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount) (RM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdererId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdererId)
            </td>
            <td>
                @*<button type="button" class="btn btn-primary btn-md" onclick="location.href='deliver?orderid=@item.Id'">Delivered</button>
                <button type="button" class="btn btn-primary btn-md" onclick="location.href='undeliver?orderid=@item.Id'">Undeliver</button>
                <button type="button" class="btn btn-primary btn-md" onclick="location.href='del?orderid=@item.Id'">Delete</button>*@
            </td>
        </tr>
    }

</table>
