@model IEnumerable<OrderSys.Models.Choice>
@{
    Layout = "~/Views/Shared/_Order.cshtml";
}
<section class="flex-sect">
    <div class="container-width">
        <div class="flex-title">Haven't chosen dishes of the day.  @DateTime.Now.ToShortDateString()<br id="ifplmr-2-2" /></div>
        <div class="flex-desc">Tick to add them.<br id="i7bkub-2-2-2" /></div>
        <form action="~/Orders/UpOpp" id="form">
            <div class="cards">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-header"><img src="~/images/choices/@Url.Content(item.Pic)" alt="Image" style='height: 100%; width: 100%; object-fit: contain' /></div>
                        <div class="card-body">
                            <div class="card-title"></div>
                            <div class="card-title">@Html.DisplayFor(modelItem => item.Item)<input onchange="calc()" value="@(item.Price)" name=@item.Item type="checkbox" /></div>
                            <div class="card-sub-title">RM @Html.DisplayFor(modelItem => item.Price)</div>
                            <div class="card-sub-title">
                                <div class="card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <section class="am-sect">
                <div class="container-width">
                    <div class="am-container">
                        <div class="am-content">
                            <div class="am-title">Order info:<br id="iwhmol-2" /></div>
                            <div class="row">
                                <div class="cell" id="i668l7">
                                    <div class="form-group">
                                        <label for="Date" class="label">Date</label><input readonly="readonly" placeholder="12/12/19"
                                                                                           type="text" name="Date" value="@DateTime.Now.ToShortDateString()" required class="input" />
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Time</label><input type="time" placeholder="Time"
                                                                                name="Time" class="input"  value="@ViewBag.thing.Time"/>
                                    </div><label class="label">Location</label><input type="text"
                                                                                      value="@ViewBag.thing.Location" name="Location" placeholder="Location" class="input" />
                                    <div class="form-group"></div>
                                    <div class="form-group"><button type="submit" class="button">Order</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</section>
<section class="am-sect">
    <div class="container-width"></div>
</section>
<script>
    function calc() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

        for (var i = 0; i < checkboxes.length; i++) {
            console.log(checkboxes[i].value)
        }
    }

    variable = "orderid";
    orderid = "";
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            orderid = decodeURIComponent(pair[1]);

        }
    }

    let el = document.createElement("input");
    el.placeholder = "orderid";
    el.name = "orderid";
    el.value = orderid;
    el.type = "hidden";
    let form = document.getElementById("form");
    form.appendChild(el);

</script>