@model IEnumerable<OrderSys.Models.OrderChoice>
@{
    Layout = "~/Views/Shared/_nOrder.cshtml";
}

<section class="flex-sect">
    <div class="container-width">
        <div class="flex-title">Flex is the new black</div>
        <div class="flex-desc">
            With flexbox system you're able to build complex layouts easily and with free responsivity
        </div>
        <div class="cards">
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">@item.Order.Date  @@  @item.Order.Time<br /></div>
                        <div class="card-sub-title">
                            RM @item.Order.Amount     @item.Order.Location<br/>
                            <button type="button"><a href="nEdit?orderid=@item.Order.Id">Edit</a></button>
                            <button type="button"><a href="del?orderid=@item.Order.Id">Delete</a></button>
                        </div>
                        <div class="card-desc">
                            @foreach (var i in item.Choices)
                            {
                                @i.Item<text>  </text>
                            }
                        </div>
                    </div>
                    <div class="row" id="ijkkl2">
                        @foreach (var i in item.Choices)
                        {
                            <div class="cell" id="ipi4fb">

                                <img id="igex5n" src="~/images/choices/@Url.Content(i.Pic)" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
