@model OrderSys.Models.Choice
@{
    Layout = "~/Views/Shared/_Edit.cshtml";
}


@using (Html.BeginForm("Edit", "Choices", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="foot-form-title">Choices</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "label" })
    @Html.EditorFor(model => model.Item, new { htmlAttributes = new { @class = "sub-input" } })

    @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "label" })

    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "sub-input" } })

    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "label" })

    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "sub-input"
    } })

    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })


    @Html.LabelFor(model => model.Pic, htmlAttributes: new { @class = "label" })
    <input id="Pic" title="Upload" type="file" name="file" />

    <input class="sub-btn" type="submit" value="Save" class="btn btn-default" />
}