@model OrderSys.Models.Orderer
@{
    Layout = "~/Views/Shared/_Edit.cshtml";
}


@using (Html.BeginForm("Edit", "Orderers", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="foot-form-title">Orderers</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.College, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.College, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.College, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "sub-input" } })
    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
    <input type="submit" value="Save" class="sub-btn" />
}